@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
:root{
    --main-color: #ffb923;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Tajawal', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header{
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #ffffff;
    z-index: 999;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
nav .nav-buttons .login{
    background-color: #fff;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}
nav .nav-buttons .login:hover{
    background-color: var(--main-color);
    color: #fff;
}

